-
	var menuList = [
		{
			href:'../index.html',
			text:'Home'
		},
		{
			href:'../aba.html',
			text:'ABA'
		},
		{
			href:'../clinical.html',
			text:'Clinical News'
		},
		{
			href:'../career.html',
			text:'Career'
		},
		{
			href:'../contact.html',
			text:'Contact'
		},
		{
			href:'',
			text:''
		},
		{
			href:'',
			text:'Service Coordinator'
		},
		{
			href:'',
			text:'Service Provider'
		},
		{
			href:'',
			text:'Parents'
		},
	];
-
	var introHome = {
		pic: 'i/intro-home.png',
		iconT: 'i/path-1.png',
		title: 'THE GREATEST GIFT YOU CAN GIVE YOUR CHILDREN <br> ARE THE ROOTS OF RESPONSIBILITY & THE WINGS OF INDEPENDENCE',
		author: 'Denis Waitley'

	};
-
	var introAba = {
		pic: 'i/intro-aba.png',
		iconT: 'i/path-1.png',
		title: 'ABA NEVER PROMISED THAT IT COULD MAKE CHILDREN NORMAL <br> JUST INDISTINGUISHABLE FROM NORMAL',
		author: 'James Copland MD'
	};
-
	var introNews = {
		pic: 'i/intro-news.png',
		title: 'SEE WHAT EXPERTS SAY AND TELL YOUR STORIES',
		description: '129 articles are currently posted to help you'
	};
-
	var introCareer = {
		pic: 'i/intro-career.png',
		title: 'JOIN US TO SAVE THE FUTURE',
		description: 'We are seeking full-time, part-time or per diem licensed/certified therapists (SI, LMSW, LCSW, School Psych) who are interested in providing early intervention services to children diagnosed with ASDs in all five boroughs of New York City.'
	};
-
	var introContact = {
		pic: 'i/intro-contact.png',
		title: 'WE ARE ALWAYS AROUND TO <br> MAKE THOSE LITTLE DREAMS COME ALIVE',
		description: 'Call us or just send a message to us'
	};
-
	var clSample = {
		class: 'half-height',
		pic: 'i/intro-news.png',
		title: 'SPRING BREAK TRAININGS',
		description: 'Mariann Lai, M.S.Ed S.A.S., BCBA | March 23, 2018'

	};


// Career content obj

-
	var careerContent = {
		title: 'SEND US DATA',
		intro: 'All applicants must have valid New York State licenses/certification, bilingual Spanish is a plus. <br> We offer a competitive compensation package, ongoing training and continuing education. All <br> services will be provided in the least restrictive environment.',
		info: 'Interested candidates can submit resume to Dave @ Dave@aees.us.com or call us at 212.804.7659 x 807 for more information. You can also fax your resume and cover letter to 888.975.7704 or submit your resume by uploading a PDF document (optional) of your resume in the form below.',
		upload: true,
		btn: 'SUBMIT'
	};

//- Contact content obj

-
	var contactContent = {
		title: 'CONTACT US',
		intro: 'Autism Early Enrichment Services',
		info: '14 Penn Plaza <br> 225 West 34 Street, 9th floor <br> New York, NY 10122 <br><br> Tel: 212.804.7659 x 800 <br> Fax: 888.975.7704 <br> Email: info@aees.us.com',
		btn: 'SEND MESSAGE'
	};

// Clinical News Sample Content

-
	var infoClSample = {
		tuesSpecial_1: 'Seats are limited! Take the opportunity to attend our workshops in a small group setting allowing more individualized discussion. Workshop fees are only $30 dollars per workshop. Active AEES providers pay only $20! Bring a friend that currently provides or is eligible to provide EI special instruction services and your fee is WAIVED!',
		tuesSpecial_2: 'Register Now to access our training calendar. You must register for each workshop per day. Once registered, you will be sent an invoice with PayPal link. You must pay for the workshop to receive confirmation of your attendance.',
		collection: 
			[
				{
					info: '3/30/18, FRIDAY <br> # 1 – It Takes a Village: Behavioral Strategies to Working as Team with Parents and Caregivers 10 am – 1 pm',
					desc: 'One of NYC’s Early Intervention Program’s missions is to provide a family-centered service that supports parents to enhance their child’s development. ABA services have shown to increase language, communication, cognition and self help skills while decreasing problem behaviors but progress is greatly dependent on consistency and implementation during AND outside of treatment. Providers providing ABA services in Early Intervention are often taught to conduct discrete trial instruction and other behavioral strategies to increase or decrease behaviors but are not taught to apply the same principles to parent training and involvement. This round table discussion will address',
					rules: '1. Behavioral strategies to promote parent involvement in an ABA program <br> 2. Developing useful data collection techniques for parents and caregivers <br> 3. Various obstacles that may affect the success of parent training'
				},
				{
					info: '#2 – “We can’t feed him Mac and Cheese every day!”: Targeting Eating Issues in Young Children with Autism with ABA 3 pm – 6pm',
					desc: 'Many young children diagnosed with autism have feeding disorders that are not only a cause of concern for the child’s physical health, but can also be attributed to various behavior problems that may be exhibited at home and inhibit some key areas in social development. In this workshop, participants will learn to:',
					rules: '1. Identify and categorize various types of feeding disorders commonly found in young children with ASD <br> 2. Apply behavioral strategies to increase consumption of new foods, new textures and independent eating. <br> 3. Apply behavioral strategies to decrease other meal –time issues such as packing, expulsion and eating from specific utensils or containers. <br >4. Collect useful data to help analyze progress and modify treatment when interventions fail.',
				},
				{
					info: '4/2/18, MONDAY <br> #3 – “We can’t feed him Mac and Cheese every day!” Targeting Eating Issues in Young Children with Autism with ABA 10 am – 1 pm',
					desc: '',
					rules: '',
				},
				{
					info: '#4 – Behavioral Strategies to Teach Tolerating When “Good Things” Go Away: Giving Up that Ipad During Sessions 3 pm – 6 pm',
					desc: 'We all love to hold on to reinforcers until satiation kicks in. But as the way life goes, reinforcers are not always available or sometimes terminates before we are done with them. This workshop will teach our participants to use behavioral strategies to teach how to',
					rules: '1. Tolerate when reinforcers must be terminated <br> 2. Tolerate when reinforcers cannot be provided <br> 3. Tolerate delays in reinforcement <br> 4. Develop new reinforcers',
				},
				{
					info: '4/3/18, TUESDAY <br> #5 – HELP! How Do I Run This Assessment? Conducting the HELP and DAYC-2 Assessments 10 am – 1 pm',
					desc: 'Join us for a 3 hr workshop reviewing the Hawaii Early Learning Profile (HELP) and the Developmental Assessment of Young Children 2 (DAYC-2).',
					rules: 'Participants will: <br> 1. Learn to interpret the HELP’s six domains to correspond to your child’s functioning levels <br> 2. Learn how to use the scoring forms to analyze your results',
				},
				{
					info: '#6 – Developing Curriculum for Preschool Readiness (Spanish Only) 3 pm – 6 pm',
					desc: 'Desarrollo de Currículo Infantil: Prerrequisitos de comportamientos preescolares Un aspecto importante en planificar sesiones efectivas es reconocer que cada niño necesita un currículo hecho a la medida de su nivel de funcionamiento. Las sesiones de intervención temprana deben contener elementos de comportamientos académicos y sociales para asegurar que los niños tengan acceso a un programa educacional completo.',
					rules: 'En este entrenamiento los participantes aprenderán lo siguiente: <br> 1. A elegir importantes comportamientos para iniciar el aprendizaje <br> 2. Identificaran aspectos del medio ambiente necesarios para producir un currículo efectivo <br> 3. Aprenderán a incorporar evaluaciones rutinarias en el programa/',
				}
			]
	}