*
	margin: 0
	padding: 0


*,
*::before,
*::after
	box-sizing: inherit

html
	box-sizing: border-box
	overflow-x: hidden

body
	font-size: 10px
	min-height: 100vh
	font-family: 'Open Sans'

	h1
		font-size: 3.4em
	h2
		font-size: 2.8em
	h3
		font-size: 2.4em
	h4
		font-size: 2em
	h5, input
		font-size: 1.6em
	h6
		font-size: 1.4em
	p
		font-size: 1.2em
@font-face
	font-family: Brandon Regular
	font-style: normal
	font-weight: normal
	src: url(Bardon_reg.otf) format('otf')
@font-face
	font-family: Brandon Medium
	font-style: normal
	font-weight: normal
	src: url(Bardon_med.otf) format('otf')
@font-face
	font-family: Brandon Bold
	font-style: normal
	font-weight: normal
	src: url(Bardon_bld.otf) format('otf')


.col-gray
	color: #636463
.col-lt-gray
	color: #CECECE
.col-cyan
	color: #20BDBF
.col-white
	color: #FFFFFF
.col-black
	color: #000000
.col-input
	color: #808080

.btn-cyan
	color: #FFFFFF
	background-color: #20BDBF
	border: 1px solid #20BDBF
.btn-grey
	color: #FFFFFF
	background-color: #808080
	border: 1px solid #808080


// @font-face
  // font-family: brandon;
  // src: url(sansation_light.woff)

  // 12p 14h6 16h5 20h4 24h3 28h2 34h1

