* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-size: 10px;
  min-height: 100vh;
  font-family: 'Open Sans';
}

body h1 {
  font-size: 3.4em;
}

body h2 {
  font-size: 2.8em;
}

body h3 {
  font-size: 2.4em;
}

body h4 {
  font-size: 2em;
}

body h5,
body input {
  font-size: 1.6em;
}

body h6 {
  font-size: 1.4em;
}

body p {
  font-size: 1.2em;
}

@font-face {
  font-family: Brandon Regular;
  font-style: normal;
  font-weight: normal;
  src: url(Bardon_reg.otf) format("otf");
}

@font-face {
  font-family: Brandon Medium;
  font-style: normal;
  font-weight: normal;
  src: url(Bardon_med.otf) format("otf");
}

@font-face {
  font-family: Brandon Bold;
  font-style: normal;
  font-weight: normal;
  src: url(Bardon_bld.otf) format("otf");
}

.col-gray {
  color: #636463;
}

.col-lt-gray {
  color: #CECECE;
}

.col-cyan {
  color: #20BDBF;
}

.col-white {
  color: #FFFFFF;
}

.col-black {
  color: #000000;
}

.col-input {
  color: #808080;
}

.btn-cyan {
  color: #FFFFFF;
  background-color: #20BDBF;
  border: 1px solid #20BDBF;
}

.btn-grey {
  color: #FFFFFF;
  background-color: #808080;
  border: 1px solid #808080;
}