mixin b-calendar()
	+b.calendar.container-fluid
		+e.main.container
			+e.events
				+e.text.col-gray Upcoming Events
				+e(id='exit-btn').exit
					+e('svg')(id='exit-x').exit-icon.col-input
						use(xlink:href=asset('svg/symbol/svg/sprite.symbol.svg#plus'))
			+e(id='calendar')