.calendar
	// display: none
	visibility: hidden
	background-color: white
	height: 100vh
	position: fixed
	top: 50%
	left: 50%
	z-index: 4
	opacity: 1
	transform: translate(-50%, -50%)
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif
	font-size: 14px
	&__main
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		position: absolute
#exit-x
	width: 50px
	height: 50px
	transform: translateY(-20px) rotate(45deg)
	float: right
	background-color: #EFEFEF
	border-radius: 25px
	&:hover
		cursor: pointer
  