mixin b-register()
	+b.register.container-fluid
		+e.main.row.justify-content-center
			+e.content.col-4.align-self-center
				+e('h4').title HELP! HOW DO I RUN THIS ASSESSMENT? CONDUCTING THE HELP AND DAYC-2
				+e('form')(id='form').reg-data
					+e('input')(type='text' id='fullName' class='input-line' name='fullName' placeholder='Johnathan Doe').col-input
					+e('input')(type='text' id='email' data-parsley-type="email" class='input-line' name='email' placeholder='Email Address *').col-input
					+e(id='cancel-btn').cancel.btn-grey Cancel
					+e('input')(type='submit' value= 'Register' id='submit-btn').register.btn-grey