.register
	visibility: hidden
	position: fixed
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	z-index: 3
	background-color: white
	&__main
		height: 100vh
	&__content
		min-width: 660px
	&__title
		margin-bottom: 30px
		font-family: Bardon Medium
	&__input-line
		display: block
		width: 100%
		padding: 20px 0px
		margin-bottom: 30px 
	&__cancel, &__register
		padding: 10px 30px
		margin-right: 20px
		margin-top: 20px
		font-family: Bardon Bold
		&:hover
			background-color: #20BDBF
			border: 1px solid #20BDBF
			cursor: pointer
	&__cancel
		display: inline-block
		font-size: 1.6em
