@import '../../assets/s/variables'
// breakpoints
// $phone, $tablet-port, $tablet-land, $desktopXS, $desktopMD, $desktopXL

.footer
	background-color: #FFFFFF
	font-family: Open Sans
	font-size: 12px
	text-align: center
	&__container
		margin: 121px 0px 24px 0px
	&__title
		font-family: Brandon Regular