mixin b-clContent()
	+b.clContent
		+e.cl.container
			+e.row.row
				+e.news.col-7
					+e('h1').title.col-cyan CLINICAL NEWS
					+e('h4').event SPRING BREAK TRAININGS
					+e('h6').addr Mariann Lai, M.S.Ed S.A.S., BCBA
					+e('p').date.col-gray March 23, 2018
					+e('h6').info.col-gray
						| 3/30/18- 4/6/18 @ Forest Hills Office #[br] ATTENTION EARLY INTERVENTION PROVIDERS! #[br] What are you doing this Spring Break? Come hang out with us! #[br] We are providing 3 hour workshops on various topics in ABA and Early Intervention that can be used for CEU’s EVERY DAY during the break. #[br] TUESDAY AFTERNOON WORKSHOP WILL BE CONDUCTED IN SPANISH! #[br] Seats are limited! Take the opportunity to attend our workshops in a small group setting allowing more individualized discussion. #[br] Workshop fees are only $30 dollars per workshop. #[br] Active AEES providers pay only $20! Bring a friend that currently provides or is eligible to provide EI
					+e('a')(href='clSample.html').more-info Continue Reading 
				+e.art.col-5
					+e.art-container
						+e('h1').title.art-title.col-input SUGGESTED ARTICLES
						+e('h5').event DECEMBER AND HOLIDAY FUN FOR THE FAMILY!
						+e('h6').desc.col-gray The holiday season in New York City is a wonderful and magical time. Here are some tips for making the most out of your month and activities you can enjoy
						+e('a')(href='clSample.html').atr-info Continue Reading
					+e.art-container
						+e('h5').event HALLOWEEN TIPS
						+e('h6').desc.col-gray As Halloween is fast approaching, we would like to share some tips to help your child’s Halloween be as enjoyable as possible! Costumes Please bear in mind that many Halloween
						+e('a')(href='clSample.html').art-info Continue Reading
			+e.row.row
				+e.news.col-7
					+e('h4').event GLUTEN-FREE/ CASEIN-FREE DIETS—DO THEY WORK?
					+e('h6').addr Noor Syed, MA, BCBA
					+e('p').date.col-gray January 30, 2015
					+e('p').info.col-gray
						| The term Autism Spectrum Disorders (ASD) is representative of a series of developmental disorders that impair an individual’s ability to interact socially as well as communicate efficiently.1 To reduce symptoms of autism, parents of children with ASD will often try specialized diets such as the gluten-free/ casein-free (GFCF) diet. #[br] What is the gluten-casein free diet for autism? #[br] Gluten is a protein found in grains such as wheat, barley, rye and oats; casein is found in milk and dairy products. When following the GFCF plan, parents eliminate all foods containing gluten and casein
					+e('a')(href='clSample.html').more-info Continue Reading 
