a:link
	text-decoration: underline

.clContent
	&__title
		margin: 50px 0px
		font-family: Brandon Medium
	&__event
		margin-top: 50px
	&__info
		margin-top: 30px
		border-left: 3px solid #CECECE
		padding-left: 30px
	&__more-info
		padding-left: 30px
	&__desc
		margin-top: 30px
	&__news
		border-right: 1px solid #EFEFEF