@import '../../assets/s/variables'
// breakpoints
// $phone, $tablet-port, $tablet-land, $desktopXS, $desktopMD, $desktopXL
input
	border: none
	border-bottom: 1px solid #EFEFEF
	&:focus
		border-bottom: 1px solid #20BDBF
#my_file
	display: none

.crContent
	&__title, &__intro, &__info
		margin: 50px 0px
	&__title
		font-family: Brandon Medium
	&__info
		line-height: 30px
	&__submit
		padding: 10px 50px
		&:hover
			cursor: pointer
		font-family: Brandon Bold
	&__input-line
		display: block
		width: 100%
		height: 50px
		margin: 50px 0px
	&__upload
		margin: 30px 0px
	&__upload-btn
		width: 30px
		height: 30px
		&:hover
			cursor: pointer
		margin-right: 20px
		margin-top: -10px
	&__upload-txt
		display: inline-block