mixin b-crContent(obj)
	+b.crContent
		+e.content.container
			+e('h1').title.col-cyan #{obj.title}
			+e('h4').intro.col-black !{obj.intro}
			+e('h6').info.col-gray !{obj.info}
			+e('form')(id='form').contact-us
				+e('input')(type='text' id='fname' class='input-line' name='fullName' placeholder='Johnathan Doe').col-input
				+e('input')(type='text' id='email' data-parsley-type="email" class='input-line' name='email' placeholder='Email Address *').col-input
				+e('input')(type='text' id='phone' class='input-line' name='phone' data-parsley-length="[10, 11]" data-parsley-type="digits" placeholder='Phone number *').col-input
				+e('input')(type='text' id='msg' class='input-line' placeholder='Message(Optional)').col-input
				if (obj.upload)
					+e.upload.col-input
						+e('svg').upload-btn(id='upload-btn')
							use(xlink:href=asset('svg/symbol/svg/sprite.symbol.svg#paperclip'))
						+e('input')(type='file' id='my_file')
						+e('h6').upload-txt.col-input Upload file
					br
				-
					var btnText = obj.btn
				+e('input')(type='submit' value= btnText).submit.btn-cyan