mixin b-abaContent()
	+b.abaContent
		+e.aba.container
			+e('h1').title.col-cyan aba
			+e('h4').about.col-black Behavior analysis is a scientifically validated approach to understanding behaviour and how it is affected by the environment. Since the 1960s, therapists have been applying behavior analysis to help children with autism and related developmental disorders. 
			+e('h6').description.col-lt-gray Applied behaviour analysis (ABA) uses behaviour techniques and principles to bring about meaningful and positive change in behaviour. These techniques can be used in structured situations such as classroom lessons as well as in “everyday” situations such as a family dinnertime or the neighbourhood playground. Some ABA therapy sessions involve one-on-one interaction between the behaviour analyst and the child. Today ABA is widely recognised as a safe and effective treatment for autism. It has been endorsed by a number of state and federal agencies, including the US. Surgeon General and the New York State Department of Health over the last decade, the nation has seen a particularly dramatic increase in the use of ABA to help persons with autism live happy and productive lives. In particular, ABA principles and techniques can foster basic skills such as looking, listening and imitating, as well as complex skills such as reading, conversing and understanding another person’s perspective.
			+e('h5').advice.col-black It is recommended that principles of Applied Behaviour Analysis and behavioural strategies be included as important elements in any intervention program for young children with autism. Research indicates intense early intervention using ABA with young children with autism can significantly reduce symptoms of autism.
			+e('p').source.col-lt-gray From AUTISM SPEAKS, It’s Time to Listen: www.autismspeaks.org