@import '../../assets/s/variables'
// breakpoints
// $phone, $tablet-port, $tablet-land, $desktopXS, $desktopMD, $desktopXL

.abaContent
	font-family: Open Sans
	&__title
		text-transform: uppercase
		margin-top: 50px
		font-family: Brandon Grotesque
	&__about
		margin: 30px 0px
		&:first-letter
			font-weight: bold
			font-size: 48px
			font-family: Times New Roman
	&__descr
		margin-bottom: 30px
	&__advice
		margin: 50px 0px
		border-left: 4px solid #CECECE
		padding: 0px 100px
		line-height: 1.6
	&__source
		text-align: right