mixin b-mainContent()
	+b.mainContent
		+e.aees.container
			+e('h1')(id='mission').title.col-cyan aees mission
			+e('h3').about.col-black The mission of Autism Early Enrichment Services (AEES) is to provide the highest quality of early intervention services to children diagnosed with Autism Spectrum Disorders and to become a model Early Intervention program.
			+e('p').descr.col-gray At AEES, an experienced case manager, certified behaviour analyst and experienced ABA provider is assigned to each family to ensure that each family receives the quality services that they deserve. Our case managers contact the service coordinators, families and ABA provider regularly to review the case needs, progress and to ensure services are properly delivered. Our BCBAs have over 10 years of experience working in early intervention with children with autism using Applied Behaviour Analysis. They monitor the child’s clinical progress in real time and are in contact with the assigned provider weekly. Our ABA providers use the latest tools, technology and receive regular professional development to deliver quality services effectively. At AEES, we know it takes a village to raise a child. Our qualified and experienced team can provide the support and expertise needed for families with children diagnosed with autism.
			+e.event
				+e('picture')
					+e('source')(srcset=asset('i/together.png') media='max-width: 480px')
					+e('img').picture(src=asset('i/together.png'))
				+e.e-content
					+e('h1').e-title.col-white
						|	HELP!
						br
						|	HOW DO I RUN THIS ASSESSMENT?
						br
						|	CONDUCTING THE HELP AND DAYC-2
					+e('h3').e-info.col-white
						| Training is taking place today at
						br
						| #[span.col-cyan/] 29 January, 2019 | 7:00 PM
					+e('button').e-btn learn more
					+e('button')(id='reg').e-btn register
					+e.e-upcoming
						+e('p').upcoming-text.col-white See Upcoming Events 
						+e('i')(id='learn').upcoming-arr.fa.fa-angle-right.font-weight-bold.col-white
			+e.elig.col-gray
				+e('h1').elig-t.col-black Eligibility
				+e('p').elig-p.col-black To be eligible for early intervention services, children must meet the following criteria:
				+e.elig-rules.row.align-items-center
					+e.elig-order.col-1 01
					+e.elig-des.col-11 Must be under 3 years of age.
				+e.elig-rules.row.align-items-center
					+e.elig-order.col-1 02
					+e.elig-des.col-11 Have a confirmed disability or established developmental delay, as defined by the State such as Down Syndrome, Communication Disorders, Autism Spectrum Disorders, etc.
				+e.elig-rules.row.align-items-center
					+e.elig-order.col-1 03
					+e.elig-des.col-11 These delays are in one or more of the following areas of development: physical, cognitive, communication, social-emotional, and/or adaptive.
			+e.info
				+e.row.row
					+e('h5').info-t.col-4.col-cyan FOR MORE INFORMATION
				+e.row.row
					+e('p').info-p.col-4 New York State Department of Health
				+e.row.row
					+e('p').info-addr.col-4.col-gray
						| Bureau of Early Intervention 
						br
						| Corning Tower, Room 287
						br
						| Empire State Plaza
						br
						| Albany, NY 12237-0660
						br
						br
						| Phone: (518) 473-7016
						br
						| E-mail: bei@health.state.ny.us
