@import '../../assets/s/variables'
// breakpoints
// $phone, $tablet-port, $tablet-land, $desktopXS, $desktopMD, $desktopXL
a.mainContent__e-btn:link, a.mainContent__e-btn
	text-decoration: none
	background-color: #FFFFFF
	color: #000000
.mainContent
	font-family: Open Sans
	&__title
		text-transform: uppercase
		margin-top: 50px
		font-size: 34px
		font-family: Bardon Medium
	&__about
		margin: 30px 0px
		font-size: 20px
		&:first-letter
			font-weight: bold
			font-size: 60px
	&__descr
		margin-bottom: 30px
	&__event
		margin: 50px 0px
		position: relative
	&__picture
		width: 100%
		height: 100%
	&__e-content
		width: 100%
		padding: 0px 246px
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
	&__e-title
		font-size: 34px
		font-family: Bardon Medium
	&__e-info
		margin: 30px 0px
	&__e-btn
		text-transform: uppercase
		padding: 7px 15px
		margin-right: 18px
		transition: background-color 1s linear
		&:hover
			background-color: #20BDBF
			// border: 1px solid #20BDBF
			color: #FFFFFF
			cursor: pointer
	&__e-upcoming
		display: flex
		justify-content: flex-start
		margin: 20px 0px
	&__upcoming-arr
		padding: 0px 15px
		font-size: 24px !important
		transform: translateY(-3px)
		&:hover
			cursor: pointer
	&__elig-t
		text-transform: uppercase
		margin: 20px 0px
		font-family: Bardon Medium
	&__elig-rules
		margin: 50px 0px
	&__elig-order
		font-size: 48px
		font-family: Bardon Medium
	&__info-t
		font-family: Bardon Medium
	&__info-p
		font-weight: bold
		font-style: italic
		margin: 10px 0px