@import '../../assets/s/variables'
// breakpoints
// $phone, $tablet-port, $tablet-land, $desktopXS, $desktopMD, $desktopXL
.menu
	background-color: #000000
	width: 337px
	height: 768px
	font-family: Open Sans
	font-size: 20px
	z-index: 2
	height: 100vh
	&__close
		margin: 57px 0px
		width: 34px
	&__exit
		&:hover
			cursor: pointer
	&__container
		margin: 0px 57px
	&__list
		list-style-type: none
	a, a:link
		text-decoration: none
		color: #FFFFFF
		&:hover
			color: #20BDBF
	&__item
		padding: 10px 0px
		color: #FFFFFF