mixin b-menu(list)
	+b.menu
		+e.container
			+e.exit(id='eks')
				+e.close(src=asset('i/close.png') id='close_menu')
			+e('ul').list
				each item in list
					+e('li').item
						+e('a').link(href=item.href)= item.text
						if item.text == ''
							+e('hr')