mixin b-clSample(infoArr)
	+b.clSample
		+e.sample.container
			+e.rights
				+e('img').icon(src=asset('i/path-1.png'))
				+e('h6').text.col-input 3/30/18- 4/6/18 @ Forest Hills Office
			+e('h5').title ATTENTION EARLY INTERVENTION PROVIDERS!
			+e('h6').desc What are you doing this Spring Break? Come hang out with us! We are providing 3 hour workshops on various topics in ABA and Early Intervention that can be used for CEU’s EVERY DAY during the break.
			+e('h5').title.col-input TUESDAY AFTERNOON WORKSHOP WILL BE CONDUCTED IN SPANISH!
			+e('h6').desc #{infoArr.tuesSpecial_1} 
			+e('h6').desc #{infoArr.tuesSpecial_2}
			+e('h5').title.col-black INFORMATION ABOUT WORKSHOPS
			each obj in infoArr.collection
				+e.infoContainer
					+e('h6').infoTitle !{obj.info}
					+e('h6').infoDesc #{obj.desc}
					+e('h6').infoRules !{obj.rules}

