@import '../../assets/s/variables'
// breakpoints
// $phone, $tablet-port, $tablet-land, $desktopXS, $desktopMD, $desktopXL
.clSample
	&__icon
		transform: rotate(180deg)
	&__text
		margin: 50px 0px
	&__title, &__infoContainer
		margin: 30px 0px
	&__infoTitle
		font-weight: bold
