mixin b-intro(obj)
	+b.intro(class= obj.class)
		+e('picture')
			+e('source')(srcset=asset(obj.pic) media='max-width: 480px')
			+e('img').picture(src=asset(obj.pic))
		+e('div').description
			+e('img').icon-top(src=asset(obj.iconT))
			+e('h2').title !{obj.title}
			+e('h4').about #{obj.description}
			+e('h6').author #{obj.author}
			+e('i').icon-bottom.fa.fa-angle-down