@import '../../assets/s/variables'
// breakpoints
// $phone, $tablet-port, $tablet-land, $desktopXS, $desktopMD, $desktopXL
.intro.half-height
	height: 50vh
.intro
	// z-index: 1
	height: 100vh
	background-color: purple
	text-align: center
	color: #FFFFFF
	margin-bottom: 100px
	position: relative
	&__picture
		width: 100%
		height: 100%
	&__description
		width: 100%
		position: absolute
		bottom: 0px
		left: 50%
		transform: translateX(-50%)
	&__title
		margin: 20px 0px
		font-family: 'Bardon Medium'
	&__icon-top
		width: 68px
	&__about
		max-width: 70%
		margin: 0px auto
		font-family: 'Bardon Regular'
	&__author, &__icon-bottom
		margin: 10px 0px
		font-family: 'Bardon Regular'
