include ../../node_modules/bemto.pug/bemto
include ../blocks/all

block params
	- var pageTitle = "Main"

doctype html
html
	head
		title AEES
		block meta
		block styles
	body
		block main
		block scripts