include ../../globals/data
include ../menu/menu

mixin b-header()
	+b('header')(id='header').header.headroom.container-fluid
		+e.container.container
			+e.logo(src=asset("i/logo.png"))
			+e.side-menu
				+e.icon(src=asset("i/burger.png") alt='burger')
				+e('h6').text Menu
		+e.menu
			+b-menu(menuList)