@import '../../assets/s/variables'
// breakpoints
// $phone, $tablet-port, $tablet-land, $desktopXS, $desktopMD, $desktopXL
.headroom
    will-change: transform
    transition: transform 200ms linear
.headroom--pinned 
    transform: translateY(0%)
.headroom--unpinned 
    transform: translateY(-100%)
.header
	position: fixed
	top: 0px
	background-color: #FFFFFF
	height: 70px
	border: 1px solid #EBEBEB
	opacity: 0.9
	z-index: 1
	&__container
		display: flex
		justify-content: space-between
		height: 100%
	&__logo
		max-height: 41px
		margin-top: 15px
	&__side-menu
		display: flex
		justify-content: space-between
		margin: auto 0px
	&__icon
		max-height: 24px
		transform: translateY(-4px)
		margin-right: 10px
		&:hover
			cursor: pointer
	&__text
		font-size: 14px
		font-family: Brandon Grotesque
	&__menu
		position: absolute
		top: 0px
		right: -337px