* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-size: 10px;
  min-height: 100vh;
  font-family: 'Open Sans';
}

body h1 {
  font-size: 3.4em;
}

body h2 {
  font-size: 2.8em;
}

body h3 {
  font-size: 2.4em;
}

body h4 {
  font-size: 2em;
}

body h5,
body input {
  font-size: 1.6em;
}

body h6 {
  font-size: 1.4em;
}

body p {
  font-size: 1.2em;
}

@font-face {
  font-family: Brandon Regular;
  font-style: normal;
  font-weight: normal;
  src: url(Bardon_reg.otf) format("otf");
}

@font-face {
  font-family: Brandon Medium;
  font-style: normal;
  font-weight: normal;
  src: url(Bardon_med.otf) format("otf");
}

@font-face {
  font-family: Brandon Bold;
  font-style: normal;
  font-weight: normal;
  src: url(Bardon_bld.otf) format("otf");
}

.col-gray {
  color: #636463;
}

.col-lt-gray {
  color: #CECECE;
}

.col-cyan {
  color: #20BDBF;
}

.col-white {
  color: #FFFFFF;
}

.col-black {
  color: #000000;
}

.col-input {
  color: #808080;
}

.btn-cyan {
  color: #FFFFFF;
  background-color: #20BDBF;
  border: 1px solid #20BDBF;
}

.btn-grey {
  color: #FFFFFF;
  background-color: #808080;
  border: 1px solid #808080;
}

.headroom {
  will-change: transform;
  -webkit-transition: -webkit-transform 200ms linear;
  transition: -webkit-transform 200ms linear;
  transition: transform 200ms linear;
  transition: transform 200ms linear, -webkit-transform 200ms linear;
}

.headroom--pinned {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.header {
  position: fixed;
  top: 0px;
  background-color: #FFFFFF;
  height: 70px;
  border: 1px solid #EBEBEB;
  opacity: 0.9;
  z-index: 1;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.header__logo {
  max-height: 41px;
  margin-top: 15px;
}

.header__side-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: auto 0px;
}

.header__icon {
  max-height: 24px;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  margin-right: 10px;
}

.header__icon:hover {
  cursor: pointer;
}

.header__text {
  font-size: 14px;
  font-family: Brandon Grotesque;
}

.header__menu {
  position: absolute;
  top: 0px;
  right: -337px;
}

.footer {
  background-color: #FFFFFF;
  font-family: Open Sans;
  font-size: 12px;
  text-align: center;
}

.footer__container {
  margin: 121px 0px 24px 0px;
}

.footer__title {
  font-family: Brandon Regular;
}

.menu {
  background-color: #000000;
  width: 337px;
  height: 768px;
  font-family: Open Sans;
  font-size: 20px;
  z-index: 2;
  height: 100vh;
}

.menu__close {
  margin: 57px 0px;
  width: 34px;
}

.menu__exit:hover {
  cursor: pointer;
}

.menu__container {
  margin: 0px 57px;
}

.menu__list {
  list-style-type: none;
}

.menu a,
.menu a:link {
  text-decoration: none;
  color: #FFFFFF;
}

.menu a:hover,
.menu a:link:hover {
  color: #20BDBF;
}

.menu__item {
  padding: 10px 0px;
  color: #FFFFFF;
}

.intro.half-height {
  height: 50vh;
}

.intro {
  height: 100vh;
  background-color: purple;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 100px;
  position: relative;
}

.intro__picture {
  width: 100%;
  height: 100%;
}

.intro__description {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.intro__title {
  margin: 20px 0px;
  font-family: 'Bardon Medium';
}

.intro__icon-top {
  width: 68px;
}

.intro__about {
  max-width: 70%;
  margin: 0px auto;
  font-family: 'Bardon Regular';
}

.intro__author,
.intro__icon-bottom {
  margin: 10px 0px;
  font-family: 'Bardon Regular';
}

a.mainContent__e-btn:link,
a.mainContent__e-btn {
  text-decoration: none;
  background-color: #FFFFFF;
  color: #000000;
}

.mainContent {
  font-family: Open Sans;
}

.mainContent__title {
  text-transform: uppercase;
  margin-top: 50px;
  font-size: 34px;
  font-family: Bardon Medium;
}

.mainContent__about {
  margin: 30px 0px;
  font-size: 20px;
}

.mainContent__about:first-letter {
  font-weight: bold;
  font-size: 60px;
}

.mainContent__descr {
  margin-bottom: 30px;
}

.mainContent__event {
  margin: 50px 0px;
  position: relative;
}

.mainContent__picture {
  width: 100%;
  height: 100%;
}

.mainContent__e-content {
  width: 100%;
  padding: 0px 246px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mainContent__e-title {
  font-size: 34px;
  font-family: Bardon Medium;
}

.mainContent__e-info {
  margin: 30px 0px;
}

.mainContent__e-btn {
  text-transform: uppercase;
  padding: 7px 15px;
  margin-right: 18px;
  -webkit-transition: background-color 1s linear;
  transition: background-color 1s linear;
}

.mainContent__e-btn:hover {
  background-color: #20BDBF;
  color: #FFFFFF;
  cursor: pointer;
}

.mainContent__e-upcoming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 20px 0px;
}

.mainContent__upcoming-arr {
  padding: 0px 15px;
  font-size: 24px !important;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}

.mainContent__upcoming-arr:hover {
  cursor: pointer;
}

.mainContent__elig-t {
  text-transform: uppercase;
  margin: 20px 0px;
  font-family: Bardon Medium;
}

.mainContent__elig-rules {
  margin: 50px 0px;
}

.mainContent__elig-order {
  font-size: 48px;
  font-family: Bardon Medium;
}

.mainContent__info-t {
  font-family: Bardon Medium;
}

.mainContent__info-p {
  font-weight: bold;
  font-style: italic;
  margin: 10px 0px;
}

.abaContent {
  font-family: Open Sans;
}

.abaContent__title {
  text-transform: uppercase;
  margin-top: 50px;
  font-family: Brandon Grotesque;
}

.abaContent__about {
  margin: 30px 0px;
}

.abaContent__about:first-letter {
  font-weight: bold;
  font-size: 48px;
  font-family: Times New Roman;
}

.abaContent__descr {
  margin-bottom: 30px;
}

.abaContent__advice {
  margin: 50px 0px;
  border-left: 4px solid #CECECE;
  padding: 0px 100px;
  line-height: 1.6;
}

.abaContent__source {
  text-align: right;
}

a:link {
  text-decoration: underline;
}

.clContent__title {
  margin: 50px 0px;
  font-family: Brandon Medium;
}

.clContent__event {
  margin-top: 50px;
}

.clContent__info {
  margin-top: 30px;
  border-left: 3px solid #CECECE;
  padding-left: 30px;
}

.clContent__more-info {
  padding-left: 30px;
}

.clContent__desc {
  margin-top: 30px;
}

.clContent__news {
  border-right: 1px solid #EFEFEF;
}

input {
  border: none;
  border-bottom: 1px solid #EFEFEF;
}

input:focus {
  border-bottom: 1px solid #20BDBF;
}

#my_file {
  display: none;
}

.crContent__title,
.crContent__intro,
.crContent__info {
  margin: 50px 0px;
}

.crContent__title {
  font-family: Brandon Medium;
}

.crContent__info {
  line-height: 30px;
}

.crContent__submit {
  padding: 10px 50px;
  font-family: Brandon Bold;
}

.crContent__submit:hover {
  cursor: pointer;
}

.crContent__input-line {
  display: block;
  width: 100%;
  height: 50px;
  margin: 50px 0px;
}

.crContent__upload {
  margin: 30px 0px;
}

.crContent__upload-btn {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  margin-top: -10px;
}

.crContent__upload-btn:hover {
  cursor: pointer;
}

.crContent__upload-txt {
  display: inline-block;
}

.clSample__icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.clSample__text {
  margin: 50px 0px;
}

.clSample__title,
.clSample__infoContainer {
  margin: 30px 0px;
}

.clSample__infoTitle {
  font-weight: bold;
}

.calendar {
  visibility: hidden;
  background-color: white;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 4;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size: 14px;
}

.calendar__main {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
}

#exit-x {
  width: 50px;
  height: 50px;
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
  float: right;
  background-color: #EFEFEF;
  border-radius: 25px;
}

#exit-x:hover {
  cursor: pointer;
}

.register {
  visibility: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: white;
}

.register__main {
  height: 100vh;
}

.register__content {
  min-width: 660px;
}

.register__title {
  margin-bottom: 30px;
  font-family: Bardon Medium;
}

.register__input-line {
  display: block;
  width: 100%;
  padding: 20px 0px;
  margin-bottom: 30px;
}

.register__cancel,
.register__register {
  padding: 10px 30px;
  margin-right: 20px;
  margin-top: 20px;
  font-family: Bardon Bold;
}

.register__cancel:hover,
.register__register:hover {
  background-color: #20BDBF;
  border: 1px solid #20BDBF;
  cursor: pointer;
}

.register__cancel {
  display: inline-block;
  font-size: 1.6em;
}